<%- include('parts/header.ejs') %>
<%- include('parts/navbar.ejs') %>

<div class="container"></div>
    <p class="alert alert-danger">Sorry, you are not an admin!</p>
</div>

<%- include('parts/footer.ejs') %>