<%- include('parts/header.ejs')%>
<%- include('parts/navbar.ejs')%>



<div class="container text-center">
    <h3>Create new Account</h3>
    <% if(messages && messages.length > 0){ %>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <% }%>
        <form action="/signup" method="POST">
        <input type="text" class="form-control" name="username" placeholder="Enter ur Username" required><br>
        <input type="email" class="form-control" name="email" placeholder="Enter ur Email"required><br>
        <input type="password" class="form-control" name="password" placeholder="Enter ur Password"required><br>
        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm ur Password"required><br>
        <input type="submit" value="Create" class="btn btn-primary">
    </form>
    <br>
    <div>
        <a href="/login" style="color: darkblue;">Already have an account?</a>
    </div>
</div>







<%- include('parts/footer.ejs')%>
